
.menu-item-bg {
  &:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}

.menu-item {
  &:hover {
    .menu-item-content {
      opacity: .9;
    }
  }
}